@media (min-width:1300px){
    .sectionContact{
        padding: 0px 150px 0px 150px;
    }
}
.sectionContact{
    margin-top: 100px;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 0px 10px 0px;
}
.title{
    font-size: 1.3rem;
    margin: 0px 0px 10px 0px;
  
}

.info{
    font-size: 1.1rem;
}
.form{
    margin: 30px 0px 30px 0px;
}
.contactInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
	background: #fff;
	font-weight: 700;
	color: var(--gris-claro);
	border: 2px solid transparent;
	transition: .3s ease all;
    cursor: pointer;
    --primario: green;
	--sombra: 0 0 13px 0 rgba(185,185,185, .25);
    font-family: 'Roboto', sans-serif;
}
.contactInfo:hover{
    box-shadow: var(--sombra);
	color: #000;
}

.contactMap{
    width: 100%;
    padding: 0;
    }
#contacto{
    padding: 0px 100px 0px 100px;
    margin-bottom: 30px;
}
.btn{
    background-color: green;
    border: none;
}
.btn:hover{
    background-color: rgb(1, 161, 1);
    border: none;
}
.FlexButtonContact{
    display: flex;
    justify-content: center;
}
@media (max-width:768px){
    #contacto{
        padding: 0;
        margin: 0px 0px 20px 0px;
    }
    .contactMap{
        height: 400px;
        margin-top: 10px;
    }
    .sectionContact{
        margin: 100px 38px 0px 38px;
    }
    }  