.iconRedes{
    height: 60px;
    width: 60px;
    margin: 20px;
}
.flexRedes{
    display: flex;
    justify-content: center;
}
.footer{
    margin-top: 50px;
    
}
.insta{
    height: 55px;
    width: 55px;
    margin: 22.5px 20px 10px 20px;
}

footer{
    background-color: blanchedalmond;
}
