.fondo{
    background-color: rgb(255, 235, 205);
}
.shadowIndex{
    box-shadow: 0px 0px 40px 0px green;
}
.dreamingreen{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/img/IMG_8456.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.logoindex{
    height: 700px;
    width: 700px;
}

@media (max-width: 420px){
    .logoindex{
        height: 300px;
        width: 300px;
    }
    .dreamingreen{
        height: 65vh;
    }
}
@media (max-width: 768px) and (min-width:420px){
    .logoindex{
        height: 400px;
        width: 400px;
    }
}