.flexNavIcons{
    display: flex;
}
.navbar{
    padding-left: 0px;
}
.dreamNav:hover{
    color: white;
}
.nav-link{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.navbar-light .navbar-nav .nav-link{
    color: green;
    padding: 0px 20px 0px;
}

.flexnav{
    display: flex;
    justify-content: flex-end;
}
.iconRedesNav{
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 10px;
}
.iconFaceNav{
    width: 45px;
    height: 45px;
}
.iconInstaNav{
    margin-top: 1.9px;
}
@media (max-width: 992px) {
    .flexnav{
        display: flex;
        justify-content: center;
        text-align: center;
    } 
}