@font-face {
    font-family: 'Oxygen';
    src: url("../assets/fonts/Oxygen-light.ttf");
font-family: 'Raleway';
src: url("../assets/fonts/Raleway-VariableFont_wght.ttf");
}

.flexNavIcons{
    display: flex;
}
.navbar{
    padding-left: 0px;
}
.navbar-nav{
    margin-top: 10px;
}
.dreamNav:hover{
    color: white;
}
.nav-link{
    font-size: 22px;
    font-family: 'Raleway';
}
.btnFrecuentes{
    background-color: blanchedalmond !important;
    border: none;
    color: green;
    border-color: blanchedalmond;
    height: 20px;
}
.dropdown-menu{
    margin-top: 10px;
}
.bgFrecuentes{
    background-color: blanchedalmond;
}
.navbar-light .navbar-nav .nav-link{
    color: green;
    padding: 0px 20px 0px;
}

.flexnav{
    display: flex;
    justify-content: flex-end;
}
.iconRedesNav{
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px;
}
.iconFaceNav{
    width: 40px;
    height: 40px;
}
.iconInstaNav{
    margin-top: 1.9px;
}
@media (max-width: 992px) {
    .flexnav{
        display: flex;
        justify-content: center;
        text-align: center;
    } 
}