h1{
    color: #3a3a3a;
	font-weight: 700;
	text-align: center;
	margin: 60px 0;
}
.h1Somos{
    margin-bottom: 20px;
    margin-top: 30px;
}

#nosotros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    
}
.txtNosotros{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    width: 60%;
}