.imgFotos{
    width: 100%;
    height: 600px;
}
.imgFotos:hover{
    border: 5px solid white;
}
#fotos .col-lg-4{
    padding: 25px;
    margin: 0 !important;
}

@media (max-width:992px){
    .imgFotos{
        height: 400px;
    }
    #fotos .col-md-6{
        flex: 0 0 100%;
        max-width: 50%;
    }
}

@media (max-width:560px){
    .imgFotos{
        height: 400px;
    }
    #fotos .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}