.imgFotos{
    width: 100%;
    height: 600px;
}
.imgFotos:hover{
    border: 5px solid white;
}
#fotos .col-lg-4{
    padding: 25px;
    margin: 0 !important;
}

@media (max-width:780px){
    .imgFotos{
        height: 400px;
    }
}

@media (max-width:420px){
    .imgFotos{
        height: 400px;
    }
}